<IfModule mod_rewrite.c>
    RewriteEngine On

    # Prevent access to hidden/sensitive files and directories (.env, .git, etc.)
    RewriteRule "(^|/)\." - [F]

    # Prevent access to composer / package files and documentation
    RewriteRule ^(composer\.json|composer\.lock|package\.json|package-lock\.json|README\.md|phpunit\.xml|artisan)$ - [F]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect requests directly to the public folder if not already in public/
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Disable Directory Browsing
Options -Indexes
